:root{
    --purple:#814096;
    --pink:#F83292;
    --gradient:linear-gradient(100deg, var(--purple), var(--pink));
    --main-duration: 0.5s;
    --main-color: #2196f3;
    --main-transition: 0.3s;
    }
    *{
    box-sizing: border-box;
    border:none;
    outline: none;
    }
    a{
    text-decoration: none;
    }
    ul{
    list-style: none;
    margin:0;
    padding:0;
    }
    body{
    font-family: 'Poppins', sans-serif;
    }
    @media (max-width: 600px){
    body , html{
    width: fit-content;
    }
    }
    html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    overflow-x: hidden;
    }
    section{
    min-height: 85vh;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    }

    /* ************************************** */
    /***************** الصفخه الرئيسية ********************************************************** */
    header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background:#ffffff;
    box-shadow: 10px 7px 20px rgba(0,0,0,.1);
    padding:10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    }
    header .navbar a{
    font-size: 23px;
    padding: 10px 10px;
    margin-left: 4px;
    color:rgb(128, 6, 34);
    align-items: center;
    }
    header .navbar a:hover{
    background-color: #a10350;
    color: white;
    padding: 10px 15px;
    border-radius: 50px;
    }
    .sign a{
    margin: 5px;
    } 
    .home{
    display: flex;
    justify-content: center;
    background:url(../images/backgroundhome.png) no-repeat;
    background-size: cover; 
    align-items: center;
    background-position: center;
    top: 10px;
    position: relative;
    }
    @media(max-width:900px){
    .home , .search-paga , .cv{
    min-height: 50vh;
    margin-top: 40px;
    }
    }
    .home .image img{
    width: 500px;
    animation: float 2s linear infinite;
    }
    @keyframes float{
    100%{
    transform: translateY(0px);
    }
    50%{
    transform: translateY(-50px);
    }
    }
    /*header input{
    display: none;
    }
    header label{
    font-size: 30px;
    color:var(--purple);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    }*/
    .btn{
    display: inline-block; 
    margin-top: 5px;
    margin-left: 10px;
    padding:10px 25px;
    border-radius: 70px;
    background:var(--gradient);
    font-size: 25px;
    color:#fff;
    cursor: pointer;  
    }
    .btn:hover{
    transform: scale(1.1);
    }
    .heading{
    text-align: center;
    background:var(--gradient);
    color:transparent;
    -webkit-background-clip: text;
    font-size: 50px;
    padding: 20px;
    margin-top: -10px;
    }
    @media (max-width:1110px){
    .navbar{
    display: none;
    }
    .logo{
    position: relative;
    left: 5%;
    }
    .home .image img{
     width: 200px;
     height: 200px;
    }
    .sign {
    display: none;
    }
    }
    @media (min-width:1110px){
    .links{
    display: none;
    }
    }
    @media (max-width:1110px){
    .links {
    position: relative;
    }
    .links:hover .icon span:nth-child(2), 
    .links:hover .icon span:last-child{
    width: 100%;
    }
    .links .icon {
    width: 30px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    }
    .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
    cursor: pointer;
    }
    .links .icon span:first-child {
    width: 100%;
    }
    .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
    }
    .links .icon span:last-child {
    width: 80%;
    transition: var(--main-duration);
    }
    .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: -5px;
    min-width: 370px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
    }
    .links ul::before {
    content: "";
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: -1px;
    top: -40px;
    }
    .links:hover ul {
    display: block;
    top: 48px;
    }
    .sign-login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 18px;
    margin-left: 50px;
    }
    .links ul li .si-lo{
    display: block;
    padding: 6px 15px;
    text-decoration: none;
    color: rgb(0 0 0);            
    transition: var(--main-duration);
    font-size: 25px;
    text-align: end;
    }
    .links ul li .si-lo:hover{
    background: #16014e;   
    padding: 10px 30px;     
    }
    .links ul li a {
    display: block;
    padding: 6px 15px;
    text-decoration: none;
    color: rgb(128, 6, 34);
    transition: var(--main-duration);
    font-size: 25px;
    text-align: end;
    }
    .links ul li i{
    font-size: 15px;
    position: relative;
    top: -30px;
    left: 12px;
    color: white;
    }
    .links ul li a:hover{
    background-color: #a10350;
    color: white;
    border-radius: 50px;
    }
    .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
    }
    .btn-men{
    display: block;
    padding: 6px;
    text-decoration: none;
    color: #00a6ff;
    transition: var(--main-duration);
    font-size: 25px;
    text-align: center;
    }
    .btn-men:hover{
    transform: scale(0.5s);
    }
    }
    @media (max-width:600px){
    .sign{
    display: none;
    }
    }
    /***********************section jop**************************/
    .searchforjop{
    align-items: center;
    background: url(../images/search-for-jop.png) no-repeat;
    background-size: cover;
    background-position: center;
    direction: rtl;
    margin-bottom: 20px;
    }
    .search .hh{
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    position: relative;
    top: -20px;
    }
    .search form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -40px;
    }
    .search form input{
    padding: 15px 15px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    border: 2px solid #999;
    direction: rtl;
    }
    .search form select{
    padding: 15px 15px;
    font-size: 20px;
    margin: 5px;
    font-weight: bold;
    outline: none;
    border: 2px solid #999;
    direction: rtl;
    }
    form .btnn{
    padding: 10px 35px;
    border-radius: 50px;
    background: var(--gradient);
    color: #fff;
    cursor: pointer;
    font-size: 28px;
    }
    .bann img{
    margin-top: -14%;
    }

    @media (max-width:625px){
        .hh{
        margin: 0px;
        }
        .hh h1{
        margin-top: 60px;
        font-size: 40px;
        }
        }
    
    @media (max-width:767px){
    .bann img{
    margin-top: -28%;
    }
    .search form .select{
        top: -40px;
        font-size: 30px;
        padding: 5px 5px;
        margin: 0;
        width: 100px;
    }
    .search form input{
        top: -40px;
        font-size: 30px;
        padding: 5px 5px;
        margin: 0;
        width: 200px;
    }
    }
        /**/
        .go-down {
            position: absolute;
            color: var(--main-color);
            left: 50%;
            transform: translateX(-50%);
            font-size: 25px;
            }
            @media (max-width:600px){
            .go-down {
            bottom: -19%;
            right: -60px;
            }
            }
            .go-down i {
            animation: bouncing 2s infinite;
            }
            @keyframes bouncing{
            0%, 10%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
            }
            40%, 50% {
            transform: translateY(-15px);
            }
            }

    /****************************feutcher*****************************************/
    .features .box-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
    }
    @media (max-width:767px){
    .features .box-container{
    margin-left: 0;
    margin-right: 0;
    }
    }
    .features .box-container .box{
    flex:1 1 300px;
    background:#fff;
    border:2px solid rgba(0,0,0,.2);
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
    margin:10px;
    padding:10px 10px;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
    }
    .features .box-container .box img{
    width: 100%;
    }
    .features .box-container .box h3{
    font-size:25px;
    color:#0a0a0a;
    padding-top: 10px;
    }
    .features .box-container .box p{
    font-size: 20px;
    color:#706c6c;
    padding: 10px 0px;
    text-align: center;
    font-weight: bold;
    }

    /******** انشاء السيرة الذاتية */
    .se1{
        background:url(../images/cv-home.png) no-repeat;
        background-size: cover;
        }
        .se1 h1{
        margin-top: 95px;
        font-size: 50px;
        text-align: center;
        font-weight: bold;
        color: #236fce;
        }
        .se1 > .btn{
        display: block;
        padding: 8px 35px;
        font-size: 50px;
        margin: auto;
        width: fit-content;
        }
        @media(max-width:767px){
        .se1 > .btn{
        margin: auto;
        }
        }
    /********************about app ********************************/
    .about{
    background:url(../images/backgroundabout.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;
    }
    .about .column{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    margin-right: 80px;
    }
    @media (max-width:767px){
    .about .column .image{
        width: 5px;
        height:5px;
     }
    .about .column{
    margin-left: 0;
    margin-right: 0;
    }

    }
    .about .column .image{
    flex:1 1 40rem;
    }
    .about .column .image img{
    width:100%;
    animation: float 2s linear infinite;
    }
    .about .column .content{
    flex:1 1 40rem;
    }
    .about .column .content h3{
    font-size: 30px;
    font-weight: bold;
    color:#2b2a2a;
    text-align: end;
    margin: 10px;
    }
    .about .column .content p{
    font-size: 20px;
    font-weight: bold;
    color:#666;
    direction:rtl;
    text-align: justify;
    }
    /***********************footer*******************************/
    .footer{
    display: flex;
    justify-content: center;
    background: url(../images/footer-home.png) no-repeat;
    background-size: cover;
    padding-bottom: 30px;
    }
    .footer .box-container{
    display: flex;
    flex-wrap: wrap;
    }  
    @media (max-width:991px){
    .footer .box-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 170px;
    }
    .footer .box-container .box{
    margin-top: -40px;
    }
    .footer .box-container .box h3{
    position: relative;
    bottom: -45px;
    }
    }
    .footer .box-container .box{
    flex: 1 1 5rem;
    margin-left: 50px;
    margin-right: 50px;
    direction: rtl;
    }
    .footer .box-container .box-2-footer{
    flex: 1 1 5rem;
    margin: 50px;
    direction: rtl;
    }
    .footer .box-container .box h3{
    font-size: 40px;
    padding: 20px 10px;
    color: #fff;
    text-align: center;
    }
    .footer .box-container .box a{
    display:inline;
    padding:3px 10px;
    }
    .footer .box-container .box p{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding:10px;
    color:#eee;
    text-transform:none;
    letter-spacing: 1px;
    }
    .footer .box-container .box .info{
    display: flex;
    align-items: center;
    margin: -30px;
    }
    .footer .box-container .box .info i{
    margin:10px;
    border-radius: 50%;
    background:#fff;
    font-size: 30px;
    height:50px;
    width:50px;
    line-height: 50px;
    text-align: center;
    color: #a51403;
    }
    .icon-up{
    margin-top: 70px;
    font-size: 60px;
    animation: float 2s linear infinite;
    }
    .qr img{
    width: 120px;
    height: 120px;
    margin-top: 120px;
    margin-right: 0px;
    }
    .qr p{
    color: white;
    font-size: 20px;
    text-align: end;
    margin-right: 20px;
    }
    @media (max-width:991px){
    .qr img{
    margin: 0px;
    margin-left: 50px;
    }
    .qr p{
    font-size: 30px;
    font-weight: bold;
    }
    }
/* ***************************************************************************************** */






    /* خاص بالوظائف */
    .box-1{
    background-color: #f4f4f4;
    min-height: 100vh;
    top: 0px;
    position: relative;
    }
    .box-1 >h2{
    position: relative;
    top: 25px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    }
    .box-3{
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
    padding: 10px 10px 25px 10px;
    background-color: white;
    top: 30px;
    margin-bottom: 15px;
    }
    .box-3 > h3{
    text-align: end;
    font-size: 27px;
    padding: 0 10px;
    }
    .box-4{
    position: relative;
    font-size: 20px;
    }
    .box-4 ul{
    text-align: end;
    padding: 5px 12px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 10px;
    }
    .box-4 ul li{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    }
    .box-4 ul li a{
    color:#2784fc;
    }
    .box-4 ul li span{
    position: relative;
    right: -9%;
    display: flex;
    bottom: -3px;
    }
    .box-5{
    background-color: white;
    border: 1px solid #d7d7d7;
    font-size: 13px;
    color: #2784fc;
    padding: 5px;
    border-radius: 9px;
    font-weight: 700;
    position: relative;
    left: 10px;
    top: 2px;
    }
    .box-5:hover{
    border-color: #0056b5;
    }
    .page-cairo-box{
    background: #eee;
    padding: 10px;
    width: 85%;
    margin: auto;
    text-align: end;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: row-reverse;
    font-size: 18px;
    }
    @media (max-width:767px){
    .page-cairo-box{
    font-size: 15px;
    }
    }
    .page-cairo-box:hover{
    background: #ddd;
    }
    .page-cairo-box:hover .cairo-box-h2{
    background: white;
    }
    .cairo-box-img{
    width: 80px;
    height: 80px;
    border: 2px solid white;
    border-radius: 50%;
    margin-left: 88%;
    box-shadow: 0 0 5px #ddd;
    padding: 2px;
    margin-top: 30px;
    }
    @media (max-width:281px){
    .cairo-box-img{
    display: none;
    }
    }
    .cairo-box-h2{
    max-width: 50%;
    margin-left: 415px;
    border: 2px solid #dedcdc;
    border-radius: 10px;
    margin-top: 5px;
    box-shadow: 0 0 5px #ddd;
    padding: 4px 10px;
    color: black;
    text-align: center;
    font-size: 20px;
    }
    @media (max-width:767px){
    .cairo-box-h2{
    margin: auto;
    text-align: center;
    max-width: 90%;
    }
    .cairo-box-img{
    margin-left: auto;
    }
    }
    .cairo-box-text{
    display: flex;
    margin-top: 8px;
    margin-right: 100px;
    flex-direction: column;
    }
    @media (max-width:767px){
    .cairo-box-text{
    margin-left: -245px;
    }
    }
    .cairo-box-text-1{
    border: 2px solid #dedcdc;
    border-radius: 10px;
    margin-top: -98px;
    box-shadow: rgb(221, 221, 221) 0px 0px 5px;
    padding: 2px 10px;
    color: black;
    margin-left: 60%;
    }
    .cairo-box-text-2{
    border: 2px solid #dedcdc;
    border-radius: 10px;
    box-shadow: 0 0 5px #ddd;
    padding: 2px 10px;
    color: black;
    margin-left: 60%;
    margin-top: 5px;
    }
    @media (max-width:767px){
    .cairo-box-text-2{
    margin-left: 51%;
    }
    }
    .cairo-box-text-3{
    border: 2px solid #dedcdc;
    border-radius: 10px;
    box-shadow: 0 0 5px #ddd;
    padding: 2px 10px;
    color: black;
    margin-left: 60%;
    margin-top: 5px;
    }
    @media (max-width:281px){
    .cairo-box-text{
    margin-top: 110px;
    position: relative;
    left: 84px;
    margin-left: -385px;
    }
    .cairo-box-text-2{
    margin-left: 57%;
    }
    .cairo-box-h2{
    margin: auto;
    max-width: 100%;
    }
    }
    .cairo-box-p{
    border: 2px solid #dedcdc;
    border-radius: 10px;
    box-shadow: 0 0 5px #ddd;
    padding: 5px 10px;
    font-weight: bold;
    color: black;
    margin-right: 0px;
    margin-bottom: 10px;
    }
    @media (max-width:415px){
    .cairo-box-p{
    margin-right: -15px;
    margin-top: 15px;
    margin-left: -15px;
    }
    .cairo-box-text{
    margin-right: 85px;
    }
    }

    /* ************************************* */
    /**************search-paga***************/
    .search-paga{
    margin-top: -55px;
    }
    @media (max-width:900px){
    .search-paga{
    position: relative;
    top: 55px;
    }
    }
    @media (max-width:767px){
    .search-paga .search .text-paga>h1{
    padding-top: 35px;
    margin: -10px;
    }
    .search-paga .search .search-option{
    top: -85px;
    }
    }
    @media (max-width:991px){
    .search-paga .search .text-paga>h1{
    margin-top: -15%;
    }
    }
    .search-paga .search .text-paga>h1{
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-align: center;
    position: relative;
    top: 120px;
    left: 10px;
    }
    .search-paga .search .text-paga>h3{
    text-align: center;
    font-size: 25px;
    color: rgb(109, 106, 106);
    padding-top: 110px;
    padding-left: 12px;
    }
    .search-paga .search .search-option{
    display: flex;
    flex-flow: row-reverse wrap;
    gap: 6px;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    }



    /* **************************** *******************/
    /**************** cv page *****************************************************/
    .cv{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/backgroundhome.png) no-repeat;
    background-size: cover;
    }
    .cv .image img{
    width:100%;
    animation: float 2s linear infinite;
    }
    @media(max-width:767px){
    .cv .image img{
        width:300px;
        height: 300px;
    }
    } 

    .headerr h1{
        font-size: 50px;
        color: darkred;
        text-align: center;
        margin-top: 15px;
    }

    .container-cvv{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    }
    .dtt{		
    position: relative;
    height: 400px;
    width: 800px;
    box-shadow: 1px 1px 15px #333335;
    border-radius: 25px;
    padding: 20px;
    }
    .dtt h1{
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
    }
    .box-cv-1{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    }
    @media (max-width:991px){
    .dtt{
    width: fit-content;
    }
    }
    .formin {
    box-shadow: 1px 2px 10px black;
    border-radius: 25px;
    font-weight: bold;
    display: block;
    margin: 9px 10px;
    padding: 12px 9px;
    border: 1px solid #dde3ec;
    outline: none;
    }
    .labb{
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: auto;
    margin-right: 20px;
    }
    .lab{
    position: relative;
    left: 35%;
    top: -40px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    }
    @media (max-width:767px){
    .inputBox textarea{
    margin-top: 10px;
    }
    }
    .g{
    position: relative;
    height: 22px;
    left: 0px;
    margin-left: 13px;
    }
    p{
    font-size: 15px;
    font-weight: 700;
    }

    /* اللغه*/
    .laa{		
    position: relative;	
    height:200px;
    width: 700px;	
    box-shadow: 1px 1px 15px #333335;
    border-radius: 25px;
    padding: 20px;
    }
    .laa h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: -5px;
    }

    /* button */
    .button{
    display: block;
    text-align: center;
    }
    .button input{
    padding: 10px 50px;
    margin: 10px;
    font-size: 40px;
    }







    /* ***************************************************************** */
    /************************** page about **********************************/
    .h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #4f0202;
    padding-top: 30px;
    margin: 40px;
    text-shadow: rgb(139, 138, 136) 10px 10px 10px;
    letter-spacing: 5px;
    font-style: italic;
    } 
    .headerr{
    margin-bottom: 100px;
    }
    .aboutt{
    background:url(../images/About/businiess.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
    margin-top: 70px;
    }
    .aboutt .heading{
    font-size: 50px;
    font-weight: bold;
    color: #06035c;
    text-align: right;
    margin-bottom: -35px;
    }
    .aboutt .columnn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    }
    .aboutt .columnn .image{
    flex:1 1 40rem;
    }
    .aboutt .columnn .image img{
    width:100%;
    animation: float 3s linear infinite;
    }
    .aboutt .columnn .content{
    flex:5 5 500px;
    }
    .aboutt .columnn .content h3{
    font-size: 50px;
    font-weight: bold;
    color:#4a0202;
    text-align: center;
    text-align: justify;
    direction: rtl;
    }
    .aboutt .columnn .content p{
    font-size: 27px;
    font-weight: bold;
    color: #0b0242;
    text-align: justify;
    direction: rtl;
    margin-top: -30px;
    }
    /*abouttt*/  
    .abouttt{
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;
    }
    .abouttt h1{
    text-align: right;
    }
    .abouttt .column{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .abouttt .column .image{
    flex:1 1 40rem;
    }
    .abouttt .column .image img{
    width:100%;
    animation: float 2s linear infinite;
    }
    .abouttt .column .contenttt{
    flex:1 1 40rem;
    }
    .abouttt .column .contenttt h3{
    font-size: 40px;
    font-weight: bold;
    color:#2b2a2a;
    text-align: center;
    }
    .abouttt .column .contenttt p{
    font-size: 30px;
    font-weight: bold;
    color:#666;
    padding:1rem 0;
    direction:rtl;
    text-align: justify;
    }




    /* *************************************************** */
    /******************************contact page*********************/
    .contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
    }
    @media (max-width:767px){
    .contact{
    margin-left: 0;
    margin-right: 0;
    }
    }
    .contact .image{
    flex:5 5 10px;
    }
    .contact .image img{
    width:100%;
    padding:20px;
    animation: float 3s linear infinite;
    }
    @media (max-width:1200px){
    .contact{
    margin-top: 200px;
    }
    }
    @media (max-width:991px){
    .contact .image img{
    width: 500px;
    height: 500px;
    }
    }
    .contact form .heading{
    text-align: center;
    padding:2px;
    padding-bottom: 10px;
    font-weight: bold;
    }
    .contact form{
    flex:1 1 40rem;
    padding:20px 3rem;
    box-shadow: 1px 2px 10px black;
    border: none;
    border-radius: 2%;
    color: black;
    font-weight: bold;
    }
    .contact form .inputBox input, .contact form .inputBox textarea{
    width:100%;
    margin:15px 0px;
    padding:5px 0px;
    font-size: 25px;
    border-bottom: 1px solid rgb(0 0 0 / 12%);
    direction: rtl;
    }
    .contact form .inputBox textarea{
    resize: none;
    height: 150px;
    box-shadow: 1px 1px 10px black;
    direction: rtl;
    }
    /*section*/
    .contact-2 .box-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 10px;
    justify-content: center;
    }
    @media (max-width:991px){
    .contact-2 .box-container{
    display: grid;
    }
    }
    .contact-2 .box-container .box{
    margin:10px;
    padding: 5px 40px;
    box-shadow:1px 2px 10px black;
    text-align: center;
    }
    .contact-2 .box-container .box i{
    background:rgb(91, 1, 1);
    color: white;
    padding: 10px;
    margin:5px;
    border-radius: 50%;
    font-size: 30px;
    }
    .contact-2 .box-container .box h3{
    padding:0px 50px;
    font-size: 25px;
    font-weight: bold;
    }
    .contact-2 .box-container .box p{
    font-size: 20px;
    font-weight: bold;
    color: #585555;
    text-transform: none;
    }




    /* ************************************************ */
    /*********************************sign up a**************************************/
    .header{
    background: url(../images/sign/background-sign\,login.jpg) no-repeat;
    background-size: cover;
    margin-top: -30px;
    margin-bottom: 0px;
    padding: 10px;
    }
    .header h1{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #6d1503;
    padding-top: 15px;
    }
    .header .container{
    background: url(../images/sign/backgroundlogin.png) no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 24px #333335;
    height: fit-content;
    width: fit-content;
    margin: auto;
    }
    .header .container2 {
    background: url(../images/sign/backgroundsign.png) no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 24px #333335;
    height: fit-content;
    width: 40%;
    margin: auto;
    }
    .header .container h2{
    font-size: 40px;
    text-align: center;
    color: black;
    padding-top: 23px;
    margin-bottom: 10px;
    }
    .header .container2 h2{
    font-size: 40px;
    text-align: center;
    color: black;
    padding-top: 23px;
    margin-bottom: 10px;
    }
    .container .user-name{
    padding: 73% 0 0 0;
    }
    .container2 .user-name{
    padding: 73% 0 0 0;
    }
    .user-name .user{
    box-shadow: 1px 2px 10px black;
    outline: none;
    padding: 15px;
    margin: 10px 65px;
    font-weight: bold;
    width: 70%;
    font-size: 20px;
    direction: rtl;
    }
    .user-name .pass{
    box-shadow: 1px 2px 10px black;
    outline: none;
    padding: 15px;
    margin: 10px 65px;
    font-weight: bold;
    width: 70%;
    font-size: 20px;
    direction: rtl;
    }
    .user-name .control{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    top: -10px;
    justify-content: space-around;
    align-items: center;
    }
    .user-name .control .cont{
    cursor: pointer;
    color: #6d1503;
    }
    @media (max-width: 1200px){
    .header .container{
    height: fit-content;
    margin: auto;
    width: fit-content;
    }
    }
    @media (max-width: 991px){
    .header .container2{
    width: 100%;
    margin: auto;
    }
    .user-name .control{
    right: auto;
    }
    .container2 .user-name .control .cont{
    right: 60px;
    }
    }
    .user-name .control label{
    padding: 10px 10px 10px 10px;
    border: none;
    cursor: pointer;
    position: relative;
    left: 22%;
    font-size: 15px;
    }
    .user-name .btn-sig{
    display: block;
    width: 70%;
    margin: auto;
    border-radius: 70px;
    background: #16014e;
    font-size: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 36px;
    font-weight: bold;
    }
    .user-name .btn-sig:active{
    padding: 5px 15px ;
    background:var(--gradient);
    }
    .forget p{
    text-align: center;
    text-decoration: none;
    margin-top: -16px;
    font-size: 25px;
    color: black;
    }
    .social-icons {
    display: flex;
    justify-content: center;
    margin-top: -20px;
    }
    .social-icons a{
    padding: 5px 20px
    }
    .first-last{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: -10px;
    margin-bottom: -28px;
    }
    .first-last .user1{
    width: 90%;
    margin-bottom: 40px;
    padding: 15px;
    outline: none;
    margin-right: -32px;
    margin-left: 30px;
    font-size: 18px;
    text-align: end;
    box-shadow: 1px 2px 10px black;
    margin-top: 20px;
    }
    .first-last .user2{
    width: 90%;
    margin-bottom: 40px;
    margin-left: 11px;
    padding: 15px;
    outline: none;
    text-align: end;
    font-size: 18px;
    box-shadow: 1px 2px 10px black;
    margin-top: 20px;
    }
    .user3{
    width: 95%;
    margin-bottom: 10px;
    padding: 15px;
    outline: none;
    margin-left: 9px;
    text-align: end;
    font-size: 18px;
    box-shadow: 1px 2px 10px black;
    }


    /* ********* icon signup and sign in******************* */
    .icons-links{
    background: #ffffff;
    width: 70px;
    height:220px;
    position: absolute;
    top: 130px;
    left: 10px;
    border-radius: 60px;
    box-shadow: 1px 2px 10px black;
    }
    .icons-links .i-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
    }
    .icons-links .i-link i{
    font-size: 20px;
    color: #447ce1;
    }
    .icons-links .i-link i:hover{
    color: #0011ff;
    }


    
    /**end sign,login**/
    /*الوظيف*/
    .services{
    background-color: var(--section-background);
    min-height: 80vh;
    margin: 10px;
    padding-top: 10px;
    margin-top: -80px;
    }
    @media (max-width:767px){
    .services{
    padding-top: 0;
    }
    }
    .services > h2{
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    }
    .services > p{
    text-align: center;
    font-size: 20px;
    }
    .services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(320px , 1fr));
    gap: 25px;
    position: relative;
    top: 20px;
    direction: rtl;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 20px;
    }
    .services .container > .box{
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: 0.8s;
    position: relative;
    }
    .services .container > .box::before{
    content: "";
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    top: 100%;
    background-color: black;
    position: absolute;
    width: 0;
    transition: 0.9s;
    }
    .services .container > .box:hover:before{
    width: 100%;
    }
    .services .container > .box:hover{
    transform: translateY(-10px);
    }
    .services .container > .box a{
    display: flex;
    flex-direction: row;
    }
    .services .container > .box img{
    padding: 10px;
    }
    .services .container > .box h3{
    padding: 20px;
    color: black;
    font-size: 20px;
    }
    .services .container > .box:hover{
    background-color: var(--main-color);
    }
    .box-2{
    background: white;
    position: relative;
    top: 5px;
    text-align: center;
    margin-bottom: 50px;
    }
    .box-2 .back-box{
    width: 100%;
    padding: 50px 0;
    height: 90%;
    }
    .box-2 .back-box:hover{
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
    background: #eaf0f4;
    }
    .box-2 .back-box img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    }
    .box-2 > h2{
    font-size: 35px;
    font-weight: 800;
    }
    @media (max-width:991px){
    .box-2 > h2{
    padding-top: 30px;
    }
    }
    .box-2 .back-box >p{
    color: black;
    padding-top: 20px;
    }
    .box-2 .box-2-card{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    direction: rtl;
    margin-left: 120px;
    margin-right: 120px;
    }
    @media (max-width:767px){
    .box-2 .box-2-card{
    margin-left: 15px;
    margin-right: 15px;
    gap: 10px;
    padding-top: 20px;
    }
    }
    /* start page search3*/
    .projects{
    text-align: center;
    font-size: 21px;
    padding-top: 1px;
    }
    .projects-home{
    text-align: center;
    background: white;
    width: 80%;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    margin: auto;
    padding-bottom: 20px;
    }
    .projects-home .box > a{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    }
    .projects-home  h3{
    padding-right: 10px;
    font-size: 20px;
    color: black;
    }
    .projects-home  h3:hover{
    color: #0043ff;
    }
    .but{
    background-color: #ebebeb;
    position: absolute;
    right: inherit;
    font-size: 20px;
    padding: 11px 20px;
    border-radius: 12px;
    color: #212529;
    border-color: #e1e7eb;
    margin-top: -45px;
    left: 17%;
    }
    .but2{
    background-color: #ebebeb;
    position: absolute;
    right: 85px;
    font-size: 20px;
    padding: 11px 20px;
    border-radius: 12px;
    color: #212529;
    border-color: #e1e7eb;
    margin-top: 20px;
    direction: rtl;
    }
    .but:hover{
    background-color: #e1e7eb;
    }
    .but2:hover{
    background-color: #e1e7eb;
    }
    .but i{
    margin-left: 8px;
    }
    .but2 i{
    margin-left: 8px;
    }
    .but:hover i{
    color: #0043ff;
    }
    .but2:hover i{
    color: #0043ff;
    }
    .projects-home .box-sidebar{
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    }
    /* end page search3*/
    /* start page search3*/
    .page{
    display: flex;
    flex-direction: row-reverse;
    background-color: #f1f5f9;
    min-height: 150vh;
    margin-top: 90px;
    }
    .sidebar{
    background-color: rgb(255, 255, 255);
    width: 350px;
    box-shadow: 0px 0px 10px 10px #ddd;
    padding: 5px;
    }
    @media (max-width:991px){
    .sidebar{
    display: none;
    }
    }
    .sidebar > i{
    position: relative;
    top: 36px;
    font-size: 20px;
    left: 80%;
    }
    .sidebar h3{
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    }
    .box-sidebar a{
    background: #f2f1f3;
    display: block;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    color: black;
    margin-bottom: 15px;
    }
    .box-sidebar a:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    color: #0043ff;
    }
    .sidebar-box{
    margin-top: 35%;
    }
    .sid-box1{
    text-align: center;
    }
    .sid-box1 h2{
    font-size: 18px;
    margin: 5px;
    }
    .control-input{
    margin: 40px 15px;
    font-size: 16px;
    direction: rtl;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 9px 20px black;
    }
    .control-input h2{
    text-align: center;
    }
    .control-input .check{
    margin: 10px;
    }
    .page-home{
    width: 100%;
    margin-top: 10px;
    }
    .page-home > h2{
    font-size: 25px;
    text-align: center;
    }
    .page-hr{
    width: 50%;
    background: #a2a2a2;
    height: 1px;
    margin-bottom: 15px;
    }
    .page-home-box{
    background: #ffffff;
    padding: 10px;
    width: 85%;
    margin: auto;
    text-align: end;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    }
    .text-home-box{
    color: #75799d!important;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 5px;
    }
    .page-home-box h2{
    font-size: 22px;
    color: black;
    }
    .page-home-box:hover h2{
    color: #0043ff;
    }
    .page-home-box-p{
    font-size: 15px;
    color: black;
    margin-top: 10px;
    margin-bottom: 5px;
    }
    .text-home-box span{
    padding-left: 10px;
    padding-bottom: 5px;
    display: block;
    }
    .text-home-box span i{
    margin-left: 10px;
    }
    .img-jotun{
    display: flex;
    position: absolute;
    cursor: pointer;
    margin: -102px 0px 0px 10px;
    }
    .img-jotun1{
    display: flex;
    position: absolute;
    cursor: pointer;
    margin: -102px 0px 0px 10px;
    }
    @media (max-width:767px){
    .img-jotun{
    margin: -104px 0px 0px 10px;
    }
    .img-jotun1{
    margin: -50px 0px 0px 10px;
    }
    }
    /* end page search3*/
    /*start menu page search3*/
    .main-mega > li{
    margin-left: 25px;
    margin-top: 30px;
    }
    .main-mega > li > a{
    border-radius: 8px;
    padding: 15px;
    position: relative;
    color: black;
    cursor: pointer;
    font-size: 18px;
    }
    .main-mega > li:hover > a{
    border: 1px solid #ddd;
    }
    .main-mega > li:hover a i{
    color: var(--main-color);
    }
    .mega-menu{
    background: white;
    width: 250px;
    position: absolute;
    top: 161px;
    right: 24px;
    z-index: -1;
    opacity: 0;
    }
    @media (max-width:1115px){
    .mega-menu{
    right: 10px;
    }
    }
    li:hover .mega-menu{
    z-index: 100;
    opacity: 1;
    }
    /*end menu*/