    /* ************************************************** */
    /**********media queries*********/
    @media (max-width:600px){
    section{
    padding:0 3%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
    }
    }
    @media (max-width:768px){
    header label{
    visibility: visible; /* أيضا يقوم بإخفاء العناصر ولكن أثرها يكون موجود في الصفحة */
    opacity: 1;
    }
    header .navbar{
    position: absolute;
    top:100%;
    left: 0;
    width:100%;
    background:#fff;
    padding:1rem 2rem;
    border-top: .1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transform-origin: top;
    transform: scaleY(0);
    transition: .2s linear;
    }
    header .navbar a{
    display: block;
    margin:5px;
    font-size: 25px;
    }
    header input:checked ~ .navbar{
    transform: scaleY(1);
    opacity: 1;
    }
    header input:checked ~ label::before{
    content:'\f00d';
    }
    }

    /* ******* search ********* */
    @media (max-width:600px){
         .searchforjop .hh{
            font-size: 20px;
         }
         .searchforjop form{
            display: inline;
         }

    } 
 







    /* الاتصال****************************************************** */
    @media (max-width:600px){
        .contact .image{
        margin: 50px;     
        padding-top: 10px;
        }
        .contact .box-container .box{
            width: 100%;
        }
    } 
