
:root{
    --purple:#814096;
    --pink:#F83292;
    --gradient:linear-gradient(100deg, var(--purple), var(--pink));
    }
    *{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border:none
    }
    html{
        font-size: 62.5%;
        overflow-x: hidden; /* للإخفاء النص الزائد الذي لا يتم عرضه للمستخدم */
    }
    section{
    min-height: 100vh;
    padding:0 10%;
    padding-top: 50px;
    padding-bottom: 50px;
    }
    .btn{
    display: inline-block; 
    margin-top: 1rem;
    padding:.8rem 3rem;
    border-radius: 5rem;
    background:var(--gradient);
    font-size: 25px;
    color:#fff;
    cursor: pointer;  
    }
    .btn:hover{
    transform: scale(1.1);
    }
    .heading{
    text-align: center;
    background:var(--gradient);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 50px;
    padding: 20px;
    }
/* *************************************************************************************** */
    header{
    position: fixed; /* لن يتم تمرير صورة الخلفية او شريط الهيدر مع الصفحة ستظل ثابته */
    top:0;
    left:0;
    width:100%;
    background:#ffffff;
    box-shadow: 0 7px 20px rgba(0,0,0,.1);
    padding:10px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* يعمل مسافات متساوية بين العناصر  لمحاذاة العناصر المرنة justify-content يتم استخدام الخاصية */
    z-index: 1000; /* التطابق فوق العناصر والاوليه للظهور فوق العناصر */
    }
    header .navbar a{
    font-size: 20px;
    padding: 10px 10px;
    margin-left: 5px;
    color:rgb(128, 6, 34);
    align-items: center;
    }
    header .navbar a:hover{
    background-color: #a10350;
    color: white;
    padding: 10px 15px;
    border-radius: 50px;
    }
    .sign a{
    margin: 5px;
    }
    header input{
        display: none;
    }
    header label{
        font-size: 30px;
        color:var(--purple);
        cursor: pointer; /* ظبط شكل الماوس */
        visibility: hidden; /* اخفاء العنصر */
        opacity: 0;
    }
    /* *********************صفحة الرئيسية******************************* */
    /*home*/
    .home{
    display: flex;
    justify-content: center;
    background:url(images/خلفية\ الرئيسية.png) no-repeat;
    background-size: cover; /* تغيير حجم صورة الخلفية لتغطية الحاوية بأكملها ، حتى إذا كان عليها : Cover
    أن تمدد الصورة أو تقطع قليلاً من إحدى الحواف */
    align-items: center;
    background-position: center;
    }
    .home .image img{
    width: 500px;
    animation: float 2s linear infinite;
    }
    @keyframes float{
    100%{
    transform: translateY(0px);
    }
    50%{
    transform: translateY(-50px);
    }
    }
    /* ******************قسم الوظائف************************ */
    /*section jop*/
    .searchforjop{
    align-items: center;
    background:url(images/البحث\ عن\ الوظيفه.png) no-repeat;
    background-size: cover;
    background-position: center;
    direction: rtl;
    }
    .search .hh{
        font-size: 50px;
        font-weight: bold;
        color: white;
        text-align: center;
        padding: 10px 0px ;
    }
    form{
        padding-right: 180px;
        direction: rtl;
    }
    .search form input{
    padding: 20px 50px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    }
    .search form select{
    padding: 20px 20px;
    font-size: 20px;
    font-weight: bold;
    }
    form .btnn{
    padding:20px 50px;
    border-radius: 10px;
    background:var(--gradient);
    font-size: 30px;
    color:#fff;
    cursor: pointer;
    }
    /* ************************************************ */
    /*feutcher*/
    .features .box-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    }
    .features .box-container .box{
    flex:1 1 30rem;
    background:#fff;
    border:2px solid rgba(0,0,0,.2);
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
    margin:10px;
    padding:10px 10px;
    text-align: center;
    justify-content: center;
    }
    .features .box-container .box img{
    width: 100%;
    }
    .features .box-container .box h3{
    font-size:25px;
    color:#0a0a0a;
    padding-top: 10px;
    }
    .features .box-container .box p{
    font-size: 20px;
    color:#706c6c;
    padding: 10px 0px;
    text-align: center;
    font-weight: bold;
    }
    /* ****************************************** */
    /* cv */
    .se{
    background:url(images/c.vvvv.png) no-repeat;
    }
    .se h1{
    margin: 0px;
    font-size: 70px;
    text-align: center;
    font-weight: bold;
    color: #0d58b4;
    }
    .se a{
        margin: 0px 300px;
        margin-top: 40px;
        font-size: 50px;
     }
    /* *********************************************** */
    /*about app*/
    .about{
    background:url(images/about-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;
    }
    .about .column{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .about .column .image{
    flex:1 1 40rem;
    }
    .about .column .image img{
    width:100%;
    animation: float 2s linear infinite;
    }
    .about .column .content{
    flex:1 1 40rem;
    }
    .about .column .content h3{
    font-size: 30px;
    font-weight: bold;
    color:#2b2a2a;
    text-align: center;
    }
    .about .column .content p{
    font-size: 20px;
    font-weight: bold;
    color:#666;
    padding:1rem 0;
    direction:rtl;
    text-align: justify;
    }
    .about .buttons{
        margin: 10px;
        padding: 0px 10px;
    }
    /* ************************************* */
    /*footer*/
    .footer{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    background:url(images/footer-bg2.png) no-repeat;
    background-size: cover;
    }
    .footer .box-container{
    display: flex;
    flex-wrap: wrap;
    }
    .footer .box-container .box{
    flex:1 1 5rem;
    margin:50px;
    direction: rtl;
    }
    .footer .box-container .box h3{
    font-size: 50px;
    padding:30px 20px;
    color:#fff;
    padding-right: 70px;
    }
    .footer .box-container .box a{
    display:inline;
    padding:7px 10px;
    }
    .footer .box-container .box p{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding:10px;
    color:#eee;
    text-transform:none;
    letter-spacing: 1px;
    }
    .footer .box-container .box .info{
    display: flex;
    align-items: center;
    }
    .footer .box-container .box .info i{
    margin:10px;
    border-radius: 50%;
    background:#fff;
    font-size: 30px;
    height:50px;
    width:50px;
    line-height: 50px;
    text-align: center;
    color: #a51403;
    }
    
    
 /*  صفحة البحث عن الوظيفة  */ /* ************** */
 /* *************************************************************************** */
 /* ---------------------------------------------- */
     .headse{
    padding-right: 120px;
    margin: 50px;
    align-items: center;
    direction: rtl;
    }
    form{
        direction: rtl;
        padding-right: 150px;
    }
    .headse form input{
    padding: 15px 20px;
    margin: 3px;
    font-size: 20px;
    font-weight: bold;
    border: solid black 2px;
    }
    .headse form select{
    padding: 15px 50px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    border: solid black 2px;

    }
    form .btnn{
    display: inline-block;
    padding:15px 50px;
    border-radius: 50px;
    background:var(--gradient);
    font-size: 30px;
    color:#fff;
    cursor: pointer;
    }
    /* *********************************** */
     /* النص */
    .hhh{
        margin: 50px;
        padding-right: 100px;
    }
    .hhh h1{
        font-size: 70px;
        font-weight: bold;
    }
    .hhh h3{
        margin: 20px;
        padding-right:100px;
        font-size: 30px;
        font-weight: bold;
        color: #6d6a6a;
    }

    /* -------------********************--------- */
 /* *************************************************************************** */
    /* page cv */

    .cv{
        display: flex;
        align-items: center;
        justify-content: center;
        background:url(images/خلفية\ الرئيسية.png) no-repeat;
        background-size: cover;
        background-position: center;
        }
        .cv .image img{
        width:100%;
        animation: float 2s linear infinite;
        }
        .header h1{
        font-size: 50px;
        color: darkred;
        font-weight: bold;
        text-align: center;
        margin: 10px;
        padding: 10px;
         }
         /* ****************************** */
         /* data person */
         .container {
            display: flex;
            justify-content: center;
            padding-bottom: 50px;
            }
           .dtt{		
           position: relative;	
           height: 500px;
           width: 800px;	
           box-shadow: 1px 1px 15px #333335;
           border-radius: 25px;
           padding: 20px;
           }
           .dtt h1{
              text-align: center;
              font-size: 50px;
              font-weight: bold;
              padding-bottom: 20px;
           }
           form{
              text-align: right;
              display: inline;
              direction: rtl;
           }
           .formin {
              box-shadow: 1px 2px 10px black;
              border-radius: 25px;
              font-weight: bold;
              display: inline;
              margin: 10px;
               padding: 13px 10px;
               border: 1px solid #dde3ec;
           }
           .labb{
        font-size: 20px;
        font-weight: bold;
        color: black;
        padding: 0px;
        direction: rtl;
        text-align: right;
        resize: none;
        }
        .inputBox textarea{
        resize: none;
        height: 100px;
        border: 3px solid #716f6f;
        padding: 5px;
        margin-right: 100px;
        margin-top: 20px;
        width: 70%;
        border-radius: 10px;
        }
        /* *************************************** */
         /* التعليم */
           .ed{		
           position: relative;	
           height: 450px;
           width: 800px;	
           box-shadow: 1px 1px 15px #333335;
           border-radius: 25px;
           padding: 20px;
           }
           .ed h1{
              text-align: center;
              font-size: 50px;
              font-weight: bold;
              padding-bottom: 20px;
  
       }
        /* ****************************** */
         /* المهارات */
           .sk{		
           position: relative;	
           height: 450px;
           width: 800px;	
           box-shadow: 1px 1px 15px #333335;
           border-radius: 25px;
           padding: 20px;
           }
           .sk h1{
              text-align: center;
              font-size: 50px;
              font-weight: bold;
              padding-bottom: 20px;
           }
        /* ****************************** */
         /* الشهادات*/
           .cr{		
           position: relative;	
           height: 520px;
           width: 800px;		
           box-shadow: 1px 1px 15px #333335;
           border-radius: 25px;
           padding: 20px;
           }
           .cr h1{
              text-align: center;
              font-size: 50px;
              font-weight: bold;
              padding-bottom: 20px;
           }
             /* ****************************** */
         /* اللغه*/
           .laa{		
           position: relative;	
           height:200px;
           width: 700px;	
           box-shadow: 1px 1px 15px #333335;
           border-radius: 25px;
           padding: 20px;
           }
           .laa h1{
              text-align: center;
              font-size: 50px;
              font-weight: bold;
              padding-bottom: 20px;
           }
        /* ************************************************* */
        /* langage */
        .la{
        text-align: center;
        padding: 10px;
        margin: 30px;
        border:inset black 2px;
        }
        .la legend{
        text-align: center;
        font-size: 30px;
        padding: 0px;
        }
        .la label{
        font-size: 20px;
        font-weight: bold;
        color: black;
        padding: 0px;
        }
        .la input{
        border: 3px solid #555;
        font-size: 15px;
        font-weight: bold;
        padding: 10px 80px;
        display: inline;
        margin: 10px;
        }
        /* ******************************************* */
        /* button */
        .button{
             padding: 10px 50px;
             padding-left: 400px;
        }
        .button input{
             padding: 10px 50px;
             margin: 10px;
        }
      /* cv */
      .se{
      background:url(images/c.vvvv.png) no-repeat;
      background-size: cover;
      }
      .se h1{
      margin: 0px;
      font-size: 70px;
      text-align: center;
      font-weight: bold;
      color: #236fce;
      }
      .se input{
      padding: 10px 50px;
      margin: 0px 300px;
      margin-top: 40px;
      font-size: 50px;
      }

 /* *************************************************************************** */
/* page about */
  .h1{
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      color: #4f0202;
      padding-top: 70px;
      margin: 40px;
      text-shadow: rgb(139, 138, 136) 10px 10px 10px;
      letter-spacing: 5px;
      font-style: italic;
      } 
      .header{
         margin-bottom: 100px;
      }


       /* *************************************************************************** */
      /* about */
      .aboutt{
      background:url(images/About/رجل\ اعمال.png) no-repeat;
      background-size: cover;
      background-position: center;
      padding-bottom: 100px;
      }
      .aboutt .heading{
      font-size: 50px;
      font-weight: bold;
      color: #06035c;
      text-align: right;
      }
      .aboutt .columnn{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      }
      .aboutt .columnn .image{
      flex:1 1 40rem;
      }
      .aboutt .columnn .image img{
      width:100%;
      animation: float 3s linear infinite;
      }
      .aboutt .columnn .content{
      flex:5 5 500px;
      }
      .aboutt .columnn .content h3{
      font-size: 50px;
      font-weight: bold;
      color:#4a0202;
      text-align: center;
      text-align: justify;
      direction: rtl;
      }
      .aboutt .columnn .content p{
      font-size: 27px;
      font-weight: bold;
      color:#0b0242;
      padding:3rem 5px;
      text-align: justify;
      direction: rtl;
      }


 /* *************************************************************************** */
      /* فوق footer */
    /*about app*/
    .abouttt{
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;
    }
    .abouttt h1{
      text-align: right;
    }
    .abouttt .column{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .abouttt .column .image{
    flex:1 1 40rem;
    }
    .abouttt .column .image img{
    width:100%;
    animation: float 2s linear infinite;
    }
    .abouttt .column .contenttt{
    flex:1 1 40rem;
    }
    .abouttt .column .contenttt h3{
    font-size: 40px;
    font-weight: bold;
    color:#2b2a2a;
    text-align: center;
    }
    .abouttt .column .contenttt p{
    font-size: 30px;
    font-weight: bold;
    color:#666;
    padding:1rem 0;
    direction:rtl;
    text-align: justify;
    }


 /* *************************************************************************** */
    /* ***********صفحة الاتصال********** */
    .contact{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 20px;
        }
        .contact .image{
        flex:5 5 10px;
        }
        .contact .image img{
        width:100%;
        padding:20px;
        animation: float 3s linear infinite;
        }
        /* **************************** */
        /* form */
        .contact form .heading{
        text-align: center;
        padding:0;
        padding-bottom: 10px;
        font-weight: bold;
        }
        .contact form{
        flex:1 1 40rem;
        padding:20px 3rem;
        box-shadow:1px 2px 10px black;
        border: none;
        border-radius: 2%;
        background:#fff;
        color: black;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        }
  
        .contact form .inputBox input, .contact form .inputBox textarea{
        width:100%;
        background:none;
        color:#000000;
        margin:1.5rem 0;
        padding:.5rem 0;
        font-size: 25px;
        border-bottom: .1rem solid rgba(0,0,0,.1);
        text-transform: none;
        direction: rtl;
        }
        .contact form .inputBox textarea{
        resize: none;
        height: 100px;
        border: none;
        }
        /* ************************************* */
        /*seccion*/
        .contact .box-container{
        display:inline-flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding: 10px 10px;
        }
        .contact .box-container .box{
        margin:10px;
        padding: 20px 40px;
        box-shadow:1px 2px 10px black;
        text-align: center;
        }
        .contact .box-container .box i{
        background:rgb(91, 1, 1);
        color: white;
        padding: 10px;
        margin:5px;
        border-radius: 50%;
        font-size: 30px;
        }
        .contact .box-container .box h3{
        padding:10px 50px;
        font-size: 25px;
        font-weight: bold;
        }
        .contact .box-container .box p{
        font-size: 20px;
        font-weight: bold;
        color: #585555;
        text-transform: none;
        }
  
